@font-face {
    font-family: 'Julius';
    src: url('fonts/JuliusSansOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fragment Mono';
    src: url('fonts/FragmentMono-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

* {
    font-family: Fragment Mono, Julius, sans-serif;
    font-size: 14px;
}