---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="About">
    <p>Tis me</p>
</MainLayout>

<style>
    p {
        color: darkblue;
        &:hover {
            color: goldenrod;
        }
    }
</style>
