---
import CheckBox from "../components/MoodChart";
import Navbar from "../components/Navbar";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer";
import CautionTape from "../components/CautionTape";
import "../styles/global.css";
---

<MainLayout title="About" description="PUMPKIN">
    <Navbar />
    <CautionTape />
    <p class="flex h-[100vh] items-center justify-center">a cube of pastry + matcha</p>
    <Footer />
</MainLayout>

<!-- <style>
    p {
        color: darkblue;
        &:hover {
            color: goldenrod;
        }
    }
</style> -->
