---
import CautionTape from "../components/CautionTape";
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Blog" description="PUMPKINv3">
    <Navbar client:idle/>
    <CautionTape />
    <p class="flex h-[100vh] items-center justify-center">Under construction 🚧</p>
    <Footer client:visible/>
</MainLayout>
