---
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Blog" description="PUMPKINv3"></Fragment>
    <Navbar></Navbar>
    <p>Shenagians</p>
    <Footer></Footer>
</MainLayout>