---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button";
import Navbar from "../components/Navbar";
import "../styles/global.css";
---

<MainLayout title="Lydia Chen" description="Homepage">
	<Navbar />
	<p class="bg-slate-200">Hello!</p>
	<Button client:load />
</MainLayout>
