---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button";
import Navbar from "../components/Navbar";
import MoodTracker from "../components/MoodChart";
import Footer from "../components/Footer";
import Donut3D from "../components/Donut.vue";
import "../styles/global.css";
import Tile from "../components/Tile";
import Intro from "../components/Intro";
import CautionTape from "../components/CautionTape";
import Donut from "../components/Donut.vue";
import List from "../components/ProjectList";
---

<MainLayout title="Portfolio" description="Homepage">
  <Navbar client:idle/>
  <!-- <Button client:load /> -->
  <CautionTape />
  <div class="grid grid-cols-1 lg:grid-cols-2 m-[8%]">
    <Intro client:idle />
    <div class="md:pl-0 place-content-center py-20">
      <div class="mb-4 ml-1 text-2xl font-bold underline decoration-wavy\
	  			 font-serif text-center lg:text-left">
        Projects:
      </div>
      <List
        title="b#"
        description="cozy game for learning music theory"
        year={"IP"}
        client:idle
      />
      <List
        title="m.graph"
        description="visualization tool to track your courses"
        year={"IP"}
        client:idle
      />
      <List
        title="print.spot"
        description="webapp for all campus printer info"
        year={"IP"}
        client:idle
      />
      <List
        title="myvoterinfo"
        description="app showing up-to-date personalized voting info"
        year={2024}
        client:idle
      />
      <List
        title="teatopia"
        description="e-commerce website for tea lovers"
        year={2023}
        client:idle
      />
    </div>
  </div>
  <!-- <div class="h-[100vh] bg-slate-100">
		<div class="flex grid grid-cols-3">
			<Tile
				imageURL="project1.png"
				title="Bee Sharp"
				subject="UX Design"
				client:idle
			/>
			<Tile
				imageURL="project1.png"
				title="Project 2"
				subject="UX Design"
				client:idle
			/>
			<Tile
				imageURL="project1.png"
				title="Project 3"
				subject="UX Design"
				client:idle
			/>
		</div>
	</div> -->
  <!-- <MoodTracker /> -->
  <!-- <Donut3D client:load /> -->
  <Footer />
</MainLayout>
