---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import "../styles/global.css";
import Intro from "../components/Intro";
import CautionTape from "../components/CautionTape";
import List from "../components/ProjectList";
import BentoLayout from "../components/BentoLayout";
import ClickReaction from "../components/ClickReaction";
---

<MainLayout title="Portfolio" description="Homepage">
  <ClickReaction />
  <div
    class="fixed top-0 left-0 right-0 w-full z-2 var(--beige) rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 border border-gray-100"
  >
    <Navbar client:idle />
    <CautionTape />
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <!-- <Intro client:idle /> -->
    <div>
      <p>Lydia Chen</p>
      <p>she/her/hers</p>
      <p>CS @ Tufts</p>
    </div>
  </div>
  <!-- <Footer client:visible /> -->
</MainLayout>
