---
import CautionTape from "../components/CautionTape";
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import TabList from "../components/Projects/TabList";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Projects" description="PUMPKINv2">
  <Navbar client:idle/>
  <CautionTape />
  <TabList client:idle/>
  <!-- <p class="flex h-[100vh] items-center justify-center">Project Page</p> -->
  <!-- <Tile 
        imageURL="project1.png"
        title="Bee Sharp"
        subject="UX Design"
        client:idle></Tile> -->
  <Footer client:visible/>
</MainLayout>
